{{ define "content" }}
<h1>{{ .H1 }}</h1>
<p>{{ .BodyP }}</p>

<div>
Please see content of your CAR file <a href="/root">here</a>.
</div>

<div>
There is also very small <a href="/info">info.json</a>.
</div>
{{ end }}
