{{ define "content" }}
<div>Folder path: TBD</div>
<div>Folder CID: TBD</div>
<table border="1">
    <thead>
        <tr>
            <th>File</th>
            <th>CID</th>
        </tr>
    </thead>
    <tbody>
        {{ range $file_name, $cid := .files }}
        <tr>
            <td data-label="File"><a href="{{ $file_name }}">{{ $file_name }}</a></td>
            <td data-label="CID">{{ $cid }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
