{{ define "content" }}
<p>
<div>Folder path: <span data-label="full_path">{{ $full_path := .full_path }}</span></div>
<div>Folder CID: <span data-label="folder_cid">{{ .folder_cid }}</span></div>
</p>

<table border="1">
    <thead>
        <tr>
            <th>File</th>
            <th>CID</th>
        </tr>
    </thead>
    <tbody>
        {{ range $file_name, $cid := .files }}
        <tr>
            <td data-label="file"><a href="{{ $full_path }}{{ $file_name }}">{{ $file_name }}</a></td>
            <td data-label="cid">{{ $cid }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
