{{ define "content" }}
<div>Folder path: TBD</div>
<div>Folder CID: TBD</div>
<table border="1">
    <thead>
        <tr>
            <th>File</th>
            <th>CID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>File</td>
            <td>CID</td>
        </tr>
    </tbody>
</table>
{{ end }}
